{% extends 'homepage/homepage.html' %}
{% block title %}<title>Change order</title>{% endblock %}
{% block content %}
    <div class="alert-dark">
        <br>
        <h6 class="text-center">Change the order placed {{ order.user.email }}</h6>
        {{ error }}
        <div class="text-center">
            <form method="POST">
                {% csrf_token %}
                {{ form_order.as_p }}
                <button class="btn btn-outline-secondary" type="submit">Save</button>
            </form>
            <form method="POST" action="{% url 'delete_order' order.id %}">
                {% csrf_token %}
                <button button class="btn btn-outline-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}
