{% extends 'homepage/homepage.html' %}
<body>
{% block title %}<title>Orders</title>{% endblock %}
{% block content %}
    <div>
        <br>
        <form method="POST" class='form-inline'>
            {% csrf_token %}
            <div class="form-group mb-2">
                {{ form.filter_methods }}
            </div>
            <div class="form-group mb-2">
                {{ form.search_param }}
            </div>
            <button type="submit" value='Submit' class="btn btn-primary mb-2">Submit</button>
        </form>
        <table class="table table-bordered table-dark">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Book</th>
                <th>Created at</th>
                <th>End at</th>
                <th>Planed end at</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td><a href="{% url 'view_order' order.id %}">{{ order.id }}</a></td>
                    <td>{{ order.user.email }}</td>
                    <td><a href="{% url 'view_order' order.id %}">{{ order.book.name }}</a></td>
                    <td><a href="{% url 'view_order' order.id %}">{{ order.created_at }}</a></td>
                    <td><a href="{% url 'view_order' order.id %}">{{ order.end_at }}</a></td>
                    <td><a href="{% url 'view_order' order.id %}">{{ order.plated_end_at }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
</body>
