{% extends 'homepage/homepage.html' %}

<!--пробельчики важны, не лепи в одну строку-->
{% block title %}
<title>Authors</title>
{% endblock %}

<body>
{% block content %}
     <div>
         <br>
         <form method="POST" class='form-inline'>
             {% csrf_token %}
             <div class="form-group mb-2">
                 {{ form.filter_methods }}
             </div>
             <div class="form-group mb-2">
                 {{ form.search_param }}
             </div>
             <button type="submit" value='Submit' class="btn btn-primary mb-2">Submit</button>
         </form>
         <div class="alert-danger">
             {{ error_author_id }}
         </div>
         <br>
<!--         верстка не по бутстрапу. весь контент должен быть в контейнере, в рове и в коле. почитай доку https://getbootstrap.com/docs/5.1/layout/grid/ -->
         <table class="table table-bordered table-dark">
             <thead class="thead-dark">
                 <tr>
                     <th>ID</th>
                     <th>Name</th>
                     <th>Surname</th>
                     <th>Patronymic</th>
                     <th>Books</th>
                 </tr>
             </thead>
             <tbody>
                 {% for author in authors %}
                     <tr>
                         <td><a href="{% url 'view_author' author.id %}">{{ author.id }}</a></td>
                         <td><a href="{% url 'view_author' author.id %}">{{ author.name }}</a></td>
                         <td><a href="{%  url 'view_author' author.id %}">{{ author.surname }}</a></td>
                         <td><a href="{%  url 'view_author' author.id %}">{{ author.patronymic }}</a></td>
                         <td>
                             {% for book in books %}
                                 {% for auth in book.authors.all %}
                                     {% if author.id == auth.id %}
                                         <a href="{%  url 'view_book' book.id %}">{{ book.name }}</a>,
                                     {% endif %}
                                 {% endfor %}
                             {% endfor %}
                         </td>
                         <td>{{ book.count }}</td>
                     </tr>
                 {% endfor %}
             </tbody>
         </table>
     </div>
{% endblock %}
</body>
