{% extends 'homepage/homepage.html' %}
{% block title %}<title>Change author</title>{% endblock %}

{% block content %}
{#    <div class="bg-image" style="background-image: url('https://wikiimg.tojsiabtv.com/wikipedia/commons/thumb/2/21/Bibliothèque_de_l%27Assemblée_Nationale_%28Lunon%29.jpg/1200px-Bibliothèque_de_l%27Assemblée_Nationale_%28Lunon%29.jpg');#}
{#               height: 100vh;">#}
{#    <div>#}
    {#{% debug %}#}
    <br>
    <h6>Change {{ author.name }} {{ author.surname }}</h6>
    {{ error }}
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form_author.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
    <br>
    <div>
        <form method="POST" action="{% url 'delete_author' author.id %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </div>
{% endblock %}