{% extends 'homepage/homepage.html' %}
{% block title %}<title>Books</title>{% endblock %}
<body>
{% block content %}
    <div>
    <br>
    <form method="post" class='form-inline'>
        {% csrf_token %}
        <div class="form-group mb-2">
            {{ form.opt }}
        </div>
        <div class="form-group mb-2">
            {{ form.title }}
        </div>
        <button type="submit" name='book' class="btn btn-primary mb-2">Submit</button>
    </form>
    <div class="alert-danger">
        {{ error_book_id }}
    </div>
    <div>
        <table class="table table-bordered table-dark">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Count</th>
                <th>Author</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td><a href="{% url 'view_book' book.id %}">{{ book.id }}</a></td>
                    <td><a href="{% url 'view_book' book.id %}">{{ book.name }}</a></td>
                    <td><a href="{% url 'view_book' book.id %}">{{ book.description }}</a></td>
                    <td><a href="{% url 'view_book' book.id %}">{{ book.count }}</a></td>
                    <td>
                        {% for author in book.authors.all %}
                            <a href="{% url 'view_author' author.id %}">{{ author.name }} {{ author.surname }}</a>,
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if books.has_previous %}
                    <li class="page-item"><a class="page-link" href="/book/page/{{ books.previous_page_number }}/">&laquo;</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="">&laquo;</a></li>
                {% endif %}
                {% for page in books.paginator.page_range %}
                    {% if page == books.number %}
                        <li class="page-item"><a class="page-link" href="/book/page/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/book/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if books.has_next %}
                    <li class="page-item"><a class="page-link" href="/book/page/{{ books.next_page_number }}/">&raquo;</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    </div>
{% endblock %}
</body>
