{% extends 'homepage/homepage.html' %}
{% block title %}<title>Change book</title>{% endblock %}
{% block content %}
    <div class="alert-dark">
        <br>
        <h6 class="text-center">Change book: {{ book.name }}</h6>
        {{ error }}
        <div class="text-center">
            <form method="POST">
                {% csrf_token %}
                {{ form_book.as_p}}
                <button class="btn btn-outline-secondary" type="submit">Save</button>
            </form>
            <form method="POST" action="{% url 'delete_book' book.id %}">
                {% csrf_token %}
                <button class="btn btn-outline-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}
